body{
    width:380px;
    }
  .stickers-list{
    padding:20px;
    margin:0;
    display:grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap:10px;
  }
  .sticker:nth-child(3n){
      grid-row: span 2;
      grid-column: span 2;
    }
    