section{
    margin-top: 50px;
}
/*===============
Follower selector
==================
.king + li{
    background-color:#ff3300;
    }
.heart.jack ~ .ace{
    background-color:#339933;
    }
.club.king ~ .heart.jack{
    background-color:#0099ff;
    }*/
/*===============
Pseudo-class :empty
==================
ul:empty {
    height: 70px;
    border: 2px dashed #55bb99;
  }
  li:not(:empty) {
    width: 60px;
    height: 90px;
  }
  li:not(:empty) span {
    display: block;
  }*/
/*===============
Pseudo-class :only-child
==================
.queen.heart:only-child{
    width:60px;
    height:90px;
  }
.group ul:only-child{
    padding:10px;
    border:2px dashed #55bb99;
  }*/
/*===============
Pseudo-class :only-of-type
==================*/
.paper{
    background-color:#fff;
    width: 400px;
    margin: 0 auto;
    padding: 2px 15px ;
    margin-top: 20px;
}
ul:only-of-type{
  padding:10px;
  border:2px dashed #55bb99;
  }
.paper p:only-of-type{
  color:#339966;
  }
/*===============
pseudo-element ::before ::after
==================*/
.card {
    position: relative;
    width: 160px;
    height: 240px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: white;
    background-size: 50px auto;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.8);
  }
  
  .card::before {
    content: "A";
    position: absolute;
    top: 5px;
    left: 5px;
    padding-bottom: 20px;
    font-size: 30px;
    color: #e50000;
    background-size: 25px auto;
    background-image:url('img/heart.svg');
    background-repeat:no-repeat;
    background-position:50% 100%;
  }
  
  .card::after {
    content: "A";
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding-bottom: 20px;
    font-size: 30px;
    color: #e50000;
    background-size: 25px auto;
    transform: rotate(180deg);
    background-image:url('img/heart.svg');
    background-repeat:no-repeat;
    background-position:50% 100%;
  }
  
  .card{
    background-image:url('img/heart.svg');
    background-repeat:no-repeat;
    background-position:50%;
    }
/*===============
pseudo-element  ::first-line & ::first-letter
==================*/
    p::first-letter{
        font-size:30px;
        line-height:30px;
        float:left;
        color:red;
        margin-right:5px;
        font-family:"Times New Roman", serif;
        }