body {
    min-width: 450px;
    margin: 0;
    padding: 50px 0;
    background: rgb(19, 77, 18) url(img/fabric.png) repeat 0 0;
}
.cards{
    list-style: none;
    margin: 0 10px;
    margin-bottom: 12px;
    text-align: center;
    padding: 0;
}
.cards li {
    width: 45px;
    height: 60px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 80%);
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin: 0 3px;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
}
.heart, .diamond {
    color: #e50000;
}
li {
    background-color: white;
    font-family: "Courier", monospace;
}
.cards li::before {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    font-family: inherit;
    background-color: white;
    border-radius: 50%;
}
.cards li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 14px 14px;
    background-color: white;
    border-radius: 50%;
}
/*=========== A & heart ============*/
.ace::before {
    content: "A";
}
.heart::after {
    background-image: url(img/heart.svg);
}
/*=========== K & king ============*/
.king::before {
    content: "K";
}
.diamond::after {
    background-image: url(img/diamond.svg);
}
/*=========== Q & queen ============*/
.queen::before {
    content: "Q";
}
.club::after {
    background-image: url(img/club.svg);
}
/*=========== J & spade ============*/
.jack::before {
    content: "J";
}
.spade::after {
    background-image: url(img/spade.svg);
}

/*========================
Practice - Combining Selectors
=========================
.spade.queen {
    background-color: #ff3300;
  }
  .heart:first-child {
    background-color: #339933;
  }
  .diamond.ace:last-child {
    background-color: #0099ff;
  }
*/

/*========================
Practice - Pseudo-class :not
=========================
li:not(.king){
  background-color:#808080;
  }
li:not(.diamond){
  color:#0099ff;
  }
li:not(:first-child){
  font-family:"Arial", sans-serif;
  }*/

/*========================
Practice - Combine :not
=========================
li:first-child:not(.spade){
background-color:#ff3300;
}
li:nth-child(4):not(.ace):not(.diamond){
background-color:#339933;
}
.heart:not(:first-child):not(.queen):not(.jack){
background-color:#0099ff;
}*/

/*========================
Practice - Combine :not
=========================
ul:nth-last-child(3) li {
  background-color: #ff3300;
}
.cards li:nth-last-child(2) {
  background-color: #339933;
}
.cards:nth-last-child(3) li:nth-last-child(2) {
  background-color: #0099ff;
}*/

/*========================
Practice - Combine :not
=========================*/
