body {
    background-color: #41352A;
    font-family: "Palatino", "Georgia", serif;
  }
  
  .page-header {
    border: 1px solid transparent;
  }
  
  .header-title {
    min-width: 420px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #ffffff;
    background-image: url("img/ribbon.svg");
    background-repeat: no-repeat;
    background-position: top center;
    text-shadow: 1px 1px 1px #000000;
  }
  
  .doors-list {
    list-style: none;
  }
  
  .door {
    padding-top: 10px;
    padding-bottom: 16px;
    text-align: center;
    background: #5B4837;
    border: 2px solid #28231E;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .door h2 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FAEAD1;
    text-shadow: 1px 1px 1px #000000;
  }
  
  .page-footer {
    background-color: #2F2317;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #FAEAD1;
    border: 1px solid transparent;
  }
  
  .page-footer a {
    color: #FAEAD1;
  }
  
  .page-footer sup {
    font-size: 10px;
  }
  
  .note-1,
  .note-2,
  .note-3 {
    margin: 0;
  }
  