body {
    margin: 0;
    padding: 0;
  
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
  }
  
  .share {
    width: 270px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 10px;
    padding-left: 20px;
  
    background-color: #ecf0f1;
  }
  
  .share b {
    margin-right: 15px;
  
    font-weight: normal;
    color: #7f8c8d;
    text-transform: uppercase;
  }
  
  .social {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  
    vertical-align: middle;
  
    background: #bdc3c7 url("img/social.png") no-repeat;
  }
  
  .social-vk {
    background-color: #6d8fb3;
    background-position: 0 0;
  }
  
  .social-fb {
    background-color: #526da3;
    background-position: -40px 0;
  }
  
  .social-tw {
    background-color: #73bfe6;
    background-position: -80px 0;
  }
  