/* ===================
Practice - Cats
================ */
.cat-foodlove{
    background-image:url("img/cat-foodlove.svg");
}
.cat-slippers{
    background-image:url("img/cat-slippers.svg");
}
.cat-fat{
    background-image:url("img/cat-fat.svg");
}
.cat-cage{
    background-image:url("img/cat-cage.svg");
}
.picture{
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 50% 80%;
    padding: 10px;
    margin: 10px;
    border:4px solid red;
    text-align: center;
    border-radius:10px;
    height: 120px;
    width: 100px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    padding: 10px;
}

/* ===================
Practice - Inheritance and cascading
================ */

html,
body {
  margin: 0;
  padding: 0;
}
body {
    width: 550px;
    height: 300px;
    font-size: 12px;
    font-family: "Tahoma", "Arial", sans-serif;
  }
  .profile{
    padding: 5px 10px;
  }
  .profile img{
    display: block;
    padding: 10px;
    border: 2px solid #34495e;
    border-radius:10px;
  }
  .profile .photo {
    float: left;
    width: 152px;
  }
  .profile .info {
    float: left;
    width: 368px;
    margin-left: 10px;
  }
  .info #info-title,.info h2  {
    margin: 0!important;
    padding: 10px!important;
    font-weight: normal;
    font-size: 12px;
    color: #ffffff;
    background: #34495e;
    border-radius: 4px;
  }
  .profile div.fact {
    padding: 10px;
    background: white;
  }
  .profile div.fact:nth-child(odd)/*odd - nehetniy*/ {
    background: #ecf0f1;
  }
  .fact::after {
    content: "";
    display: table;
    clear: both;
  }
  .profile .fact .title {
    float: left;
    width: 120px;
    text-align: right;
    color: #7f8c8d;
  }
  .profile  .fact .value {
    margin-left: 140px;
    color: #34495e;
  }
  .albums {
    margin-top: 5px;
  }
  .albums img {
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 5px;
  }
  .albums img:last-child {
    margin-right: 0;
  }
  .photo .button {
    display: block;
    height: 30px;
    margin: 5px 0;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
  }
  .button.stroke {
    background: #3498db;
  }
  
  .button.feed {
    background: #2ecc71;
  }
  
  .button.startle {
    background: #e74c3c;
  }
  #miska {
          margin-right: 5px;
        }