/* ==================
Main settings
==================== */
body{
    background-image: url('img/finish.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}
h1 {
    margin: 0;
    padding: 12px 15px;
    color: white;
    font-weight: 400;
    background-color:#0088cc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
table{
    background-color: white;
    width: 100%;
    border-collapse: collapse;
}
.cup-standings{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
th {
    font-weight: normal;
    font-size: 0.7em;
    color: #999999;
    background: #f5f5f5;
}
td, th {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}
table {
    background: rgba(255, 255, 255, 0.95);
}
  tr:hover {
    background-color: #fcf8e3;
}
  strong:hover {
    color: #0088cc;
}

/* ==================
Dynamic effects with :hover
==================== */
.section-2 em {
    display: none;
}
  .section-2 tr:hover em {
    display: inline;
}
  .section-2 tr:hover strong {
    color: #0088cc;
}

/* ==================
Pseudo-classes for links
==================== */
.sec__linls a:link{
    color: black;
    }
.sec__linls a:visited{
      color: #cccccc;
      }
.sec__linls a:active{
    color: green;
      }
.sec__linls{
    background-color:white;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
      }
.sec__linls p{
    margin: 12px 10px;
    padding-bottom: 20px;
    border-bottom:1px solid #ccc;
      }