/* ====================================
Practice Prt 1
==================================== */

body {
    width: 300px;
    margin: 0 auto;
    padding: 0;
    padding-top: 15px;
    font-size: 0;
    text-align: center;
    background-color: white;
  }
  
  .block {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-bottom: 1px;
    margin-right: 1px;
    background-color: black;
  }
  .block1{
    background-image: url('img/cat_poo.png');
    background-repeat:no-repeat;
    background-position:50% 50%;
    }
    .block2{
    background-image: url('img/cat_poo.png');
    background-color:#f1c40f;
    background-repeat:no-repeat;
    background-position:50% 50%;
    }
      .block3{
    background-image: url('img/cat_hiss.png');
    background-color:#e74c3c;
    background-repeat:no-repeat;
    background-position:50% 50%;
    }
      .block4{
    background-image: url('img/cat_walk.png');
    background-color:#3498db;
    background-repeat:no-repeat;
    background-position:231% 50%;
    }
      .block5{
    background-image: url('img/cat_walk.png');
    background-color:#3498db;
    background-repeat:no-repeat;
    background-position:-115% 50%;
    }
      .block6{
    background-image: url('img/cat_slippers.png');
    background-color:#27ae60;
    background-repeat:no-repeat;
    background-position:50% 50%;
    }
      .block7{
    background-color:#bdc3c7;
    background-repeat:no-repeat;
    background-position:50% 50%;
    }
            .block8{
    background-image: url('img/cat_grumpy.png');
    background-color:#95a5a6;
    background-repeat:no-repeat;
    background-position:158% 50%;
    }
          .block9{
    background-image: url('img/cat_grumpy.png');
    background-color:#bdc3c7;
    background-repeat:no-repeat;
    background-position:-192% 50%;
    }
  


/* ====================================
Practice Prt 2
==================================== */
.block-academy {
width: 100%;
  width: 300px;
  height: 300px;
  background-color: #3498db;
  background-position: 50% 50%;
  margin: 50px auto;
}
.bg {
  height: 300px;
  background:
  url("img/cat_fish_128.png") no-repeat 90px 145px,
  url("img/cat_grumpy_128.png") no-repeat 15px 125px,
  url("img/cat_drunk_128.png") no-repeat 160px 125px,
  url("img/cat_walk_128.png") no-repeat 80px 80px,
  url("img/cat_academy.png") no-repeat 20px 20px, 
  url("img/star.png") repeat-x 0 10px,
  url("img/star.png") repeat-x 0 270px;
}