@font-face {
    font-weight: 400;
    font-family: "Open Sans";
    src: url("fonts/opensans.woff") format("woff");
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333333;
    font-family: "Open Sans", sans-serif;
  }
  
  section {
    margin: 40px auto;
    width: 450px;
    background-color: white;
    box-shadow: 0 0 3px #cccccc;
  }
  
  h1 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-weight: normal;
    font-size: 28px;
  }
  
  .slider {
    position: relative;
  }
  
  .slider input[type="radio"] {
    display: none;
  }
  
  .slider-inner {
    overflow: hidden;
  }
  
  .slider-slides {
    width: 300%;
    transition: transform 0.8s ease;
  }
  
  .slider-slides img {
    float: left;
    width: 450px;
    height: 320px;
  }
  
  .slider-controls {
    margin-bottom: 10px;
    text-align: center;
  }
  /*Кнопки и подписи связаны между собой атрибутами id и for, поэтому клик на подписи будет выделять и соответствующий чекбокс (даже если он невидим).*/
  .slider-controls label {
    display: inline-block;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border: 4px solid white;
    border-radius: 50%;
    background-color: #cccccc;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: background-color 0.2s;
  }
  /*Что он выбирает? Подпись в блоке .slider-controls, идущем в разметке после выделенной радиокнопки с id="btn-1". Причём подпись с атрибутом for="btn-1", то есть связанную с этой радиокнопкой. */
  #btn-1:checked ~ .slider-controls label[for="btn-1"],
  #btn-2:checked ~ .slider-controls label[for="btn-2"],
  #btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #666666;
  }
  /*Реализуем плавный сдвиг контейнера с картинками, чтобы в зависимости от выделенной радиокнопки показывать соответствующую по счёту картинку.*/
  #btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
  }
  #btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-450px);
  }
  #btn-3:checked ~ .slider-inner .slider-slides {
  transform: translate(-900px);
  }