/*=========== Block 1 ===============*/

body {
    position: relative;
    width: 570px;
    margin: 0;
    color: #000000;
    font-family: "Arial", sans-serif;
  }
  
  p {
    margin: 0;
    padding-top: 235px;
    text-align: center;
    font-weight: bold;
    text-transform:uppercase;
    font-size:65px;
    letter-spacing:-5px;
    word-spacing:10px;
    color:rgba(255, 0, 180, 0.5);
    text-shadow: 
          -5px -5px 0 rgba(0, 168, 255, 0.5);
    
  }
  
  span {
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -0.5em;
    font-size: 200px;
    line-height: 1em;
    text-shadow: 
          -70px 80px 0 #f4c300, 
          70px 80px 0 #009f3d,
          -140px 0px 0 #0085c7,
          140px 0px 0 #df0024
    }
  
  