section {
    background-size: cover;
    color: #ecf0f1;
    font-family: "Arial", sans-serif;
    height: 300px;
  }
/*=========== Section 1 ===============*/
section.photo-1 {
    background-image: url("img/sky.jpg");
    background-position: 0% 50%;
  }
.photo-1 h1 {
    font-weight: normal;
    font-size: 50px;
    margin-top: 0;
    margin-left: 20px;
    text-shadow:30px 30px 1px #111;
  }
.photo-1 span {
    margin-left: 20px;
    font-size: 80px;
    text-shadow:0px 30px 1px #111;
  }
/*=========== Section 2 - Embedded text effect ===============*/
section.photo-2 {
    background-image: url("img/pumpkin.jpg");
  }
.photo-2 h1 {
    margin: 20px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 100px;
    color: #2b2328;
    text-shadow:-1px -1px 1px #1e181c, 
                2px 2px 1px #52424d;
  }
.photo-2 span {
    position: absolute;
    top: 530px;
    left: 290px;
    color: #cb454c;
    font-size: 150px;
  }
/*=========== Section 3 - Decorative retro shadow ===============*/
section.photo-3 {
    background-image: url("img/lens.jpg");
    background-position: 100% 40%;
  }
.photo-3 h1{
    margin-top: 20px;
    padding: 40px 20px;
    text-shadow:
        2px 2px #e5d4c0,
        4px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 55px;
  }
  /*=========== Section 0 - Challenge: psychedelic shadow ===============*/
.photo-0 {
    margin-bottom: 20px;
    width: 100%570px;
    background-color: #111111;
    color: #ffffff;
    font-weight: bold;
    font-size: 200px;
    font-family: "Arial", sans-serif;
  }
.photo-0 p {
    margin: 0;
    padding-top: 60px;
    text-align: center;
  }
  .photo-0 span {
    margin-left: 60px;
  }
.photo-0 span:first-child {
    margin-left: 0;
    text-shadow: 
        5px -5px 0 #7fdbff, 
        10px -10px 0 #39cccc,
        5px -15px 0 #3d9970,
        20px -20px 0 #2ecc40,
        25px -25px 0 #01ff70,
        30px -30px 0 #ffdc00,
        35px -35px 0 #ff851b,
        40px -40px 0 #ff4136,
        45px -45px 0 #f012be,
        50px -50px 0 #b10dc9;
  }
.photo-0 span:nth-of-type(2) {
    text-shadow:
        0px -5px 0 #7fdbff, 
        0px -10px 0 #39cccc,
        0px -15px 0 #3d9970,
        0px -20px 0 #2ecc40,
        0px -25px 0 #01ff70,
        0px -30px 0 #ffdc00,
        0px -35px 0 #ff851b,
        0px -40px 0 #ff4136,
        0px -45px 0 #f012be,
        0px -50px 0 #b10dc9;
  }
.photo-0 span:last-child {
    text-shadow:
        -5px -5px 0 #7fdbff,
        -10px -10px 0 #39cccc,
        -15px -15px 0 #3d9970,
        -20px -20px 0 #2ecc40,
        -25px -25px 0 #01ff70,
        -30px -30px 0 #ffdc00,
        -35px -35px 0 #ff851b,
        -40px -40px 0 #ff4136,
        -45px -45px 0 #f012be,
        -50px -50px 0 #b10dc9;
  }
  