section {
    background-size: cover;
    color: #ecf0f1;
    font-family: "Arial", sans-serif;
    height: 300px;
  }
/*=========== Section 1 ===============*/
section.photo-1 {
    background-image: url("img/sky.jpg");
    background-position: 0% 50%;
  }
.photo-1 h1 {
    font-weight: normal;
    font-size: 50px;
    margin-top: 0;
    margin-left: 20px;
    text-shadow:30px 30px 1px #111;
  }
.photo-1 span {
    margin-left: 20px;
    font-size: 80px;
    text-shadow:0px 30px 1px #111;
  }
/*=========== Section 2 - Embedded text effect ===============*/
section.photo-2 {
    background-image: url("img/pumpkin.jpg");
  }
.photo-2 h1 {
    margin: 20px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 100px;
    color: #2b2328;
    text-shadow:-1px -1px 1px #1e181c, 
                2px 2px 1px #52424d;
  }
.photo-2 span {
    position: absolute;
    bottom: -230px;
    left: 290px;
    color: #cb454c;
    font-size: 150px;
  }
/*=========== Section 3 - Decorative retro shadow ===============*/
section.photo-3 {
    background-image: url("img/lens.jpg");
    background-position: 100% 40%;
  }
.photo-3 h1{
    margin-top: 20px;
    padding: 40px 20px;
    text-shadow:
        2px 2px #e5d4c0,
        4px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 55px;
  }
  /*=========== Section 0 - Challenge: psychedelic shadow ===============*/
.photo-0 {
    margin-bottom: 20px;
    width: 100%570px;
    background-color: #111111;
    color: #ffffff;
    font-weight: bold;
    font-size: 200px;
    font-family: "Arial", sans-serif;
  }
.photo-0 p {
    margin: 0;
    padding-top: 60px;
    text-align: center;
  }
.photo-0 span {
    margin-left: 60px;
  }
.photo-0 span:first-child {
    margin-left: 0;
    text-shadow: 
        5px -5px 0 #7fdbff, 
        10px -10px 0 #39cccc,
        15px -15px 0 #3d9970,
        20px -20px 0 #2ecc40,
        25px -25px 0 #01ff70,
        30px -30px 0 #ffdc00,
        35px -35px 0 #ff851b,
        40px -40px 0 #ff4136,
        45px -45px 0 #f012be,
        50px -50px 0 #b10dc9;
  }
.photo-0 span:nth-of-type(2) {
    text-shadow:
        0px -5px 0 #7fdbff, 
        0px -10px 0 #39cccc,
        0px -15px 0 #3d9970,
        0px -20px 0 #2ecc40,
        0px -25px 0 #01ff70,
        0px -30px 0 #ffdc00,
        0px -35px 0 #ff851b,
        0px -40px 0 #ff4136,
        0px -45px 0 #f012be,
        0px -50px 0 #b10dc9;
  }
.photo-0 span:last-child {
    text-shadow:
        -5px -5px 0 #7fdbff,
        -10px -10px 0 #39cccc,
        -15px -15px 0 #3d9970,
        -20px -20px 0 #2ecc40,
        -25px -25px 0 #01ff70,
        -30px -30px 0 #ffdc00,
        -35px -35px 0 #ff851b,
        -40px -40px 0 #ff4136,
        -45px -45px 0 #f012be,
        -50px -50px 0 #b10dc9;
  }
/*=========== Section 4 - Decorative line styling ===============*/
.photo-4 {
      background: url("img/rain.jpg") no-repeat 0% 10%;
      margin-bottom: 20px;
    }
.photo-4 .square {
      margin: 0px auto;
      text-align: center;
      text-transform: uppercase;
      border: 5px solid #333;
      font-family:"Montserrat Alternates", sans-serif;
      font-size:72px;
      width:260px;
      word-wrap:break-word;
      letter-spacing:24px;
      padding-left:24px;
      color:#333;
      position: relative;
      top:20px;
    }
/*=========== Section 5 / 6 - text-indent | ::first-letter | ::first-line | column-count | column-gap | text direction |  ===============*/
section.photo-5, section.photo-6{
  background-image: url("img/road.jpg");
  background-size:cover;
  padding:10px;
  margin-top: 20px;
}
.photo-5 article, .photo-6 article{
  padding: 10px;
  background-color: rgba(240, 240, 240, 0.85);
  color:#333;
  margin: 0 auto;
  position: relative;
  top:10px;
}
.photo-5 article {
  max-width: 800px;
  /*column-count:2;Колоночная разметка*/
  column-width:200px;
  column-gap:50px;
}
.photo-5 p {
  margin: 0;
  line-height: 26px;
  text-indent:0px;
}
.photo-5 p:first-child::first-letter {
  float:left;
  font-family:"Georgia", serif;
  font-size:76px;
  line-height:60px;
  color:#8b3333;
} 
.photo-5 p:first-child::first-line{
  font-weight: bold;
}
/* Section 6 text direction */
.photo-6 article {
  max-width: 600px;
  direction: rtl;
  height: 250px;
  overflow: auto;
}
.photo-6  p {
  margin-top: 0;
  unicode-bidi: bidi-override;
}
/*=========== Section 7 - direction in table ===============*/
.photo-7 {
  background: url("img/bokeh.jpg") no-repeat 0% 10%;
  padding: 10px;
  color: #333333;
  font-size: 14px;
  font-family: "Georgia", sans;
  margin-top: 20px;
}
.photo-7 article {
  padding: 20px;
  background-color: rgba(240, 240, 240, 0.85);
}
.photo-7 table {
  border-collapse: collapse;
  direction:rtl;
}
.photo-7  tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.75);
}
.photo-7 td {
  padding: 10px 15px;
  border-right: 1px dashed #cccccc;
}
.photo-7 td:first-child {
  text-align: right;
  font-style: italic;
}

.photo-7 td:last-child {
  border-right: none;
}
/*=========== Section 8 - text-overflow ===============*/
.photo-8 {
  background: url("img/road.jpg") no-repeat 0% 10%;
  padding: 10px;
  color: #333333;
  font-family: "Georgia", sans;
  margin-top: 20px;
}
.photo-8 p {
  margin: 50px auto;
  padding: 20px;
  width: 50%;
  background-color: rgba(240, 240, 240, 0.85);
  font-size: 16px;
  line-height: 22px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
/*=========== Section 9 - Spacing between words ===============*/
.photo-9 {
  background: url("img/road.jpg") no-repeat 0% 10%;
  padding: 10px;
  margin-bottom: 20px;
  color: #fffbb4;
  font-size: 12px;
  height: 450px;
}
.photo-9 h1 {
  text-align: center;
  font-size: 24px;
  word-spacing:5px;
}
.photo-9 ul {
  padding: 0;
  list-style: none;
  text-align: center;
  word-spacing:12px;
  max-width: 700px;
  margin: 0 auto;  
}
.photo-9 li {
  display: inline-block;
  margin-bottom: 12px;
}
.photo-9 img {
  width: 250px;
}
