html,
body {
  margin: 0;
  padding: 0;
  width: 570px;
  height: 250px;
}

.deck {
  margin: 0 auto;
  padding-top: 50px;
  width: 570px;
  transform: scale(0.9);
}

.deck > img {
  position: relative;
  display: inline-block;
  margin-right: -4px;
  width: 110px;
}

.ten {
  transform: scale(0.9) translate(20px, 15px) rotate(-10deg);
}
  
.jack {
  transform: translateX(8px) rotate(-5deg);
}

.queen {
  transform: scale(1.1) translateY(-4px);
}  
  
.king {
  transform: translateX(-9px) rotate(5deg);
  z-index:-1;
}
  
.ace {
  transform: scale(0.9) translate(-20px, 15px) rotate(10deg);
   z-index:-1;
}