h1 {
    margin-top: 0;
    font-size: 20px;
  }
  
  p {
    background-color: #ecf0f1;
    border: 2px dotted #bdc3c7;
  }
  
  .container {
    width: 400px;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 0 2px #cccccc;
  }
  
  .columns-container {
    padding: 10px;
    background-color: #27ae60;
    border: 2px solid #34495e;
  }
  
  .block {
    width: 100px;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    background-color: #3498db;
    border: 2px solid #34495e;
  }
  
  .block1 {
    height: 100px;
    float: left;
    margin-right: 10px;
    }
  
  .block2 {
    float: left;
    }
  
  .block3 {
    float: right;
    }
  