body {
    padding: 0px 30px;
    font-size: 16px;
    line-height: 26px;
    font-family: "Arial", sans-serif;
    color: #222222;
    background: #fff url(img/bg-page.png) no-repeat top center;
  }

  h1 {
    font-family: "Georgia", serif;
    font-size: 36px;
    line-height: normal;
  }
  
  .avatar{
    border-radius: 50%;
  }

  h2 {
    font-family: "Georgia", serif;
    font-size: 20px;
    line-height: normal;
  }
  
  a {
    color: #0099ef;
    text-decoration: underline;
  }


  .blog-navigation a{
    color:#fff;

  }

  .blog-navigation ul{
    list-style: none;
    padding-left: 0;
  }

  .blog-navigation h2{
    margin-top: 0;
  }

  .blog-navigation li {
    margin-bottom: 5px;
  }

  footer {
    margin-top: 30px;
  }

  .blog-navigation  {
    margin-bottom: 30px;
    padding: 20px;
    color:#fff;
    background-color: #4470c4;
    border: 5px solid #2d508f;
  }