/* =======================
Extra Style
====================== */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: white;

}


header.page-header {
    position: relative;
    z-index: 5;
    min-height: 20px;
    padding: 20px;
    font-size: 18px;
    color: white;
    text-indent: 120px;
    background-image: linear-gradient(45deg, #34495e 25%, transparent 25%), linear-gradient(-45deg, #34495e 25%, transparent 25%), linear-gradient(135deg, #34495e 25%, transparent 25%), linear-gradient(-135deg, #34495e 25%, transparent 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    box-shadow: 0 0 5px 0 #333333;
    background-color: #2c3e50;
}
.page-header::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 20px;
    width: 90px;
    height: 90px;
    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
main {
    display: block;
    flex-grow: 1;
    padding-top: 40px;
    color: black;
    background-color: white;
}
footer.page-footer {
    min-height: 50px;
    padding: 20px;
    font-size: 14px;
    color: black;
    background-color: #f1c40f;
    background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(-45deg, transparent 50%, white 50%), linear-gradient(135deg, transparent 50%, #2c3e50 50%), linear-gradient(-135deg, transparent 50%, #2c3e50 50%);
    background-repeat: repeat-x;
    background-position: 0 0, 0 0, 0 100%, 0 100%;
    background-size: 12px 12px;
}
body {
    display: flex;
    flex-direction: column;
}
.page-footer::before {
    content: "Gromov, yg@berlinacademy.de";
    position: absolute;
    width: 50px;
    height: 55px;
    margin-right: 0.5em;
    line-height: 45px;
    white-space: nowrap;
    text-indent: 70px;
    background: url("img/yg.jpg") no-repeat 0 0;
    background-size: 50px;
    border: 2px solid white;
    box-shadow: 0 0 4px #c0392b;
}
.page-footer::after {
    content: "© 2023 Grom Energy";
    float: right;
    padding-top: 20px;
    font-size: 12px;
}
/* =======================
Style.CSS
====================== */
form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #cccccc;
    margin-top:20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input {
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
}
input[type="text"],
input[type="password"],
textarea, 
input[type="search"],
input [type="month"],
input [type="number"] {
width: 95%;
border:1px solid #ccc;
height: 24px;
margin-bottom:10px;
padding: 2px 5px;
}


input[type="submit"],
input[type="reset"],
input[ type="button"],
button{
    display: inline-block;
    background-color:#2c3e50;
    color: #fff;
    padding: 8px 18px;
    border:none;
    margin: 0 5px;
    border-radius:5px;
}
.buttons {
  margin-top: 12px;
  text-align: center;
}
input[type="image"] {
    padding: 5px;
    border: 1px solid #cccccc;
    vertical-align: top;
    margin: 0 auto;
    margin-top: 10px;
  }
  textarea {
    border-radius: 5px;
}
.half-width input {
    display: inline-block;
    width: 90%;
    margin-right: -4px;
    border:1px solid #ccc;
    padding: 5px;
    height: 24px;
}
.half-width {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
}
h2{
    text-align: center;
}
form:last-child{
    margin-bottom: 50px;
}

.one-third-width input, .two-third-width input {
    width: 80%;
}