body {
    padding: 50px;
    background-color: #f6f6f6;
    font-family: sans-serif;
}

.fancy {
    margin: 0;
    padding: 25px 50px;
    border-radius: 25px;
    background-color: #3d95b1;
    background-image: linear-gradient(
        to top,
        #30cfd0 0%,
        #330867 100%
    );
    color: white; 
    font-size: 50px;
    }
