/**/
input[type="text"]:disabled {
    opacity: 0.5;
    background-color: #bdc3c7;
    }
    
input[type="text"]:enabled {
    border: 1px solid red;
    }

/*pseudo-class :read-only & :read-write*/
input[type="datetime"]:read-only {
    background-color: #ecf0f1;
    color: #bdc3c7;
    }
      
input[type="text"]:read-write {
    color: #3498db;
    }

/*pseudo-class :required*/
input[type="text"]:required {
    border: 1px solid green;
    }

input[type="text"]:required {
    background: url("img/required.png") no-repeat 100% 50%;
    }

/*pseudo-class :optional*/
input[type="text"]:optional {
    border: 1px solid #3498db;
  }
  
  input[type="text"]:optional {
    background: url('img/optional.png') no-repeat 100% 50%;
  }

  /*pseudo-class :checked*/
  input:checked + label {
    color: #1abc9c;
  }
  