/* Подсветка */

.page-header {
    outline: 2px solid #9779ec;
    outline-offset: -2px;
    margin-bottom: 1px;
  }
  
  .page-footer {
    outline: 2px solid #9779ec;
    outline-offset: -2px;
    padding: 3px;
  }
  
  .page-main {
    outline: 2px solid #f799ff;
    outline-offset: -2px;
    padding: 3px;
    margin-bottom: 1px;
  }
  
  .photo,
  .bio {
    outline: 2px solid #66b5ff;
    outline-offset: -2px;
  }
  
  .copyright,
  .contacts,
  .logo {
    outline: 2px solid #fe6767;
    outline-offset: -2px;
  }
  
  .container {
    outline: 2px solid #73c86a;
    outline-offset: -2px;
    padding: 3px;
  }
  