.brick-layout {
    width: 400px;
    padding: 5px;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
  }
  .brick {
    min-height: 80px;
    min-width: 50px;
    
    width: 120px;
    margin:5px;
    flex-basis:100px;
  }
  .brick-layout div:nth-child(even){
    flex-grow:2;
  }
