/* =======================================
First Table Red
======================================= */
table.first-table {
    border:1px solid red;
    border-collapse: separate;
    border-spacing: 5px;
    margin-bottom: 20px;
}

.first-table td {
   border:1px solid red;
   padding: 10px;
   padding-right: 20px;
}

/* =======================================
Second Table Black
======================================= */
table.second-table {
    border-collapse: collapse;
    border: 2px solid black;
    margin-bottom: 20px;
  }
  
  .second-table td {
    padding: 5px;
    padding-right: 130px;
    border: 1px solid lightgray;
  }

  /* стили для ячеек-заголовков */
  .second-table th {
    padding: 10px;
    border: 2px solid black;
  }
  .second-table caption{
    caption-side:bottom;
    text-align: left;
  }
  
/* =======================================
Third Table Black
======================================= */

table.third-table{
    border:1px solid blue;
    margin-bottom: 20px;
}

.third-table td{
    border:1px solid blue;
    padding: 5px;
    padding-right: 10px
}

/* =======================================
Fourth Table Green
======================================= */

table.fourth-table{
  border:1px solid green;
  border-collapse:collapse;
  margin-bottom: 200px;
  width: 100%;
  height: 300px;
}
.fourth-table th{
  border:1px solid lightcoral;
  padding: 10px;
  background-color: antiquewhite;
}
.fourth-table td{
  border:1px solid green;
  padding: 10px;
}
.fourth-table .cell-1{
  vertical-align: bottom;
}
.fourth-table .column-2{
  text-align: right;
}
.fourth-table .column-3{
  text-align: center;
}
.fourth-table caption {
  margin-bottom: 10px;
  font-size: 18px;
}

.fourth-table .row-1{
  background-color: aqua;
}
.fourth-table .row-2{
  background-color: chartreuse;
}
.fourth-table .row-3{
  background-color: lightpink;
}