body {
    min-width: 500px;
    font-family: "Tahoma", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }
  
  .page-header {
    line-height: 0;
    background-color: #333333;
    background-image: url("img/background-image.svg");
    background-repeat: no-repeat;
    background-position: top left;
  }
  
  .header-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #ffffff;
  }
  
  .features-list {
    list-style: none;
    background-color: #e2e2e2;
  }
  
  .feature {
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    border-left: 4px solid #86c400;
    border-radius: 4px;
    background-color: #fffefc;
  }
  
  .feature h2 {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 30px;
  }
  
  .feature p {
    margin: 0;
  }
  
  .feature .disclaimer {
    margin-top: 8px;
    color: #b0b0b0;
  }
  
  .page-footer {
    color: #b0b0b0;
    background-color: #333333;
  }
  