
  body {
    margin: 0;
  }
  
  .page-header {
    display: grid;
    grid-template-columns: 210px 200px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  
  .features-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap:10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
  }
  
  .page-footer {
    padding: 20px;
    }