@font-face {
    font-weight: 300;
    font-family: "Open Sans";
    src: url("fonts/opensanslight.woff") format("woff");
  }
  
  @font-face {
    font-weight: 700;
    font-family: "Open Sans";
    src: url("fonts/opensansbold.woff") format("woff");
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333333;
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
  }
  
  h1 {
    margin: 25px 0;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
  }
  
  a {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
  }
  
  div[class^="effect-"] {
    margin: 0 auto;
    padding: 30px 0;
    width: 400px;
    text-align: center;
  }
  
  .effect-1 {
    background-color: #f19f0f;
  }
  
  .effect-1 a {
    padding: 6px 0 8px;
    color: #ffffff;
  }
  
  .effect-1 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    content: "";
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
  }
  
  .effect-1 a:hover::after {
    opacity: 1;
    transform: translateY(0);
  }
  
  .effect-2 {
    background-color: #435a6b;
  }
  
  .effect-2 a {
    padding: 0 20px;
    height: 45px;
    color: #ffffff;
    line-height: 45px;
  }
  
  .effect-2 a::before,
  .effect-2 a::after {
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: #ffffff;
    content: "";
    opacity: 0.2;
    transition: all 0.3s;
  }
  
  .effect-2 a::before {
    top: 0;
    left: 0;
    transform: rotate(90deg);
    transform-origin: 0 0;
  }
  
  .effect-2 a::after {
    right: 0;
    bottom: 0;
    transform: rotate(90deg);
    transform-origin: 100% 100%;
  }
  
  .effect-2 a:hover::before {
    left: 50%;
    opacity: 1;
    transform: rotate(0deg) translateX(-50%);
  }
  
  .effect-2 a:hover::after {
    right: 50%;
    opacity: 1;
    transform: rotate(0deg) translateX(50%);
  }
  
  .effect-3 {
    background-color: #2ac56c;
  }
  
  .effect-3 a {
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }
  
  .effect-3 a::before {
    position: absolute;
    color: #ffffff;
    content: attr(data-hover);
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .effect-3 a:hover::before {
    opacity: 0;
    transform: scale(0.9);
  }
  
  .effect-4 {
    background-color: #3fa46a;
  }
  
  .effect-4 a {
    padding: 8px;
    color: #237546;
    font-weight: bold;
  }
  
  .effect-4 a:hover {
    color: #ffffff;
    transition: color 0.3s;
  }
  
  .effect-4 a::before,
  .effect-4 a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    content: "";
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .effect-4 a::before {
    top: 0;
    transform: translateY(-10px);
  }
  
  .effect-4 a::after {
    bottom: 0;
    transform: translateY(10px);
  }
  
  .effect-4 a:hover::before,
  .effect-4 a:hover::after {
    opacity: 1;
    transform: translateY(0);
  }
  