@font-face {
    font-weight: 400;
    font-family: "PT Sans";
    font-style: normal;
    font-display: swap;
    src: local("PT Sans"),
      url("fonts/ptsans.woff2") format("woff2"),
      url("fonts/ptsans.woff") format("woff"),
      url("fonts/PTSans-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-weight: 400;
    font-family: "PT Sans";
    font-style: italic;
    font-display: swap;
    src: local("PT Sans Italic"),
      url("fonts/PTSans-Italic.woff2") format("woff2"),
      url("fonts/PTSans-Italic.ttf") format("truetype");
  }
  
  @font-face {
    font-weight: 700;
    font-family: "PT Sans";
    font-style: normal;
    font-display: swap;
    src: local("PT Sans Bold"),
      url("fonts/ptsansbold.woff2") format("woff2"),
      url("fonts/ptsansbold.woff") format("woff"),
      url("fonts/PTSans-Bold.ttf") format("truetype");
  }
  
  body {
    min-width: 500px;
    margin: 0;
    padding: 10px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    background: #E0E7ED;
  }
  
  .movie {
    background-color: #ffffff;
    box-shadow: 0px 6px 8px -2px rgba(55, 66, 75, 0.1);
    border-radius: 4px;
  }
  
  .movie-title {
    position: relative;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #4A6F9D;
  }
  
  .movie-title::before,
  .movie-title::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 22px;
    margin-left: 15px;
    margin-right: 15px;
    background-repeat: no-repeat;
  }
  
  
  .movie-title::before {
    left: 0;
    background-image: url("img/quote-open.svg");
  }
  
  .movie-title::after {
    right: 0;
    background-image: url("img/quote-close.svg");
  }
  
  .tags-list {
    list-style: none;
    background-color: #F5F9FC;
  }
  
  .tag {
    position: relative;
    padding-left: 25px;
    background-color: #A8C9E1;
    border: 1px solid #A8C9E1;
    border-radius: 12px;
  }
  
  .tag::before {
    position: absolute;
    content: "";
    left: 8px;
    top: 7px;
    width: 9px;
    height: 10px;
    background-image: url("img/hash.svg");
    background-repeat: no-repeat;
  }
  
  .tag-link {
    text-decoration: none;
    font-style: italic;
    font-size: 14px;
    line-height: 14px;
    color: #67A0CF;
    background-color: #ffffff;
    border-radius: 0 12px 12px 0;
  }
  