.land {
    display: grid;
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows: 125px 125px 125px 125px;
  }
  .element--grass{
    grid-column:1/-1;
    grid-row:1/-1;
    }
    
  .element--water{
    grid-column:1/4;
    grid-row:2/4;
    }
    
  .element--rocks{
    grid-column:2/3;
    grid-row:1/-1;
    }