.land {
    display: grid;
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows: 125px 125px 125px 125px;
  }
  
  .element--water {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .element--grass {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: -1;
  }
  
  .element--lava {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .element--rocks {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: -2;
  }
  