html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 280px;
  min-height: 280px;
  padding-top: 20px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 1.2;
  font-family: "Arial", sans-serif;

  background-color: #ecf0f1;
}

.card {
  width: 200px;
  padding: 20px;
  color: #ffffff;
  background-color: #1abc9c;
  }
  
.card h2 {
  margin: 0;
  
  font-size: 20px;
  font-weight: 400;
} 
  
.card p {
  margin: 20px 0  25px 0;
}

/* Social */
.social {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  font-size: 0;
  background-color: #16a085;
  background-image: url("img/social-challenge.png");
  vertical-align: middle;
  }

.social-fb {
  background-position: 0 0;
}

.social-tw {
  background-position: 60px 0;
}

.social-gp {
  background-position: 30px 0;
}

/*
Все размеры, отступы, координаты, размеры шрифтов (не заданные в body) кратны 5 или 10.
Адрес картинки-спрайта — social-challenge.png
*/
