html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 280px;
  min-height: 250px;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;

  font-size: 12px;
  line-height: 1.2;
  font-family: "Arial", sans-serif;
  color: #7f8c8d;

  background-color: #ecf0f1;
}

.post-stats .icon {
  width: 15px;
  height: 15px;
}

.post {
  margin-left: 75px;
}
  
.post-title {
  margin-bottom: 5px;
  font-size: 20px;
  color: #2980b9;
}

.post-author a, 
.post-stats a{
  color: #2980b9;
  text-decoration: none;
}

.post-author {
    margin-bottom: 5px;
}

.post-date {
  position: absolute;
  top: 50px;
  left: 10px;
  
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  
  font-size: 15px;
  font-weight: 700;
  
  background-color: #ffffff;
  border-bottom: 5px solid #bdc3c7;
}

.post-type {
  position: absolute;
  top: 120px;
  left: 10px;
  
  width: 55px;
  height: 55px;
  text-align: center;
  
  line-height: 55px;

  background: url("img/quotes.png") no-repeat 14px 16px;
  background-color: #7f8c8d;
  border-bottom: 5px solid #bdc3c7;
  }
  
.post-stats {
  display: inline-block;
  margin-left: 20px;
}

.post-text {
  width: 165px;
  padding: 10px 15px;
  background-color: #ffffff;
  border-bottom: 5px solid #bdc3c7;
}
  
.icon-tags {
  position: absolute;
  top: 98px;
  left: 85px;
  background: url("img/post-challenge.png") no-repeat 0 0;
}
  
.icon-comments {
  position: absolute;
  top: 98px;
  left: 237px;
  background: url("img/post-challenge.png") no-repeat -20px 0px;
  }
  
.icon-comments + a {
  margin-left: 10px;
  }
/*
Все размеры, отступы, координаты, размеры шрифтов (не заданные в body) кратны 5 или 10.
Адреса картинок:
quotes.png
post-challenge.png
Картинка «кавычки» выровнена по центру
*/
