.card {
    margin-bottom: 20px;
    line-height: 1.3;
  }
  .card-title {
    display: flex;
    flex-wrap:wrap;
    align-items: flex-end;
    margin-top: 0;
  }
  .card-title span {
    background-color:#c8dcff;
    border:1px solid #999999;
  }
  .card-title-main {
    flex-grow:1;
  }

  /* =================== Menu ===================== */
  .menu {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
  }
  
  .menu > div {
    flex-grow: 1;
  }
  
 /* =================== Поля ввода с динамической шириной ===================== */
  .input-container {
    margin: 30px 0;
    width: 200px;
    outline: 2px dashed rgba(0, 128, 0, 0.2);
    outline-offset: 5px;
    display:flex;
  }
  
  .add-on {
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 12px;
    min-width: 40px;
    min-height: 36px;
    border: 2px solid #cccccc;
    background-color: #eeeeee;
    color: #666666;
    vertical-align: top;
    flex-shrink:0;
  }
  
  .input {
    padding: 8px 12px;
    border: 2px solid #cccccc;
    flex-grow:1;
    min-width:50px;
  }
  
  .input:not(:first-child) {
    border-left: 0;
  }
  
  .input:not(:last-child) {
    border-right: 0;
  }
  
  .input-container a {
    margin: 0 10px;
    color: #666666;
    font-size: 12px;
    line-height: 36px;
  }




 /* =================== 
Карточка курса 
===================== */
  .card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    max-width: 70%;
    margin:10px auto;
  }
  .cards {
    display:flex;
  }
  
  .card-img {
    width: 100%;
  }
  
  .card-meta {
    display: flex;
  }
  
  .card-category {
    flex-grow: 1;
  }
  .card-content {
    flex-grow:1;
    display:flex;
    flex-direction:column;
  }
  .card-button {
    margin-top:auto;
  }
  
  /* Декоративные обводки */
  
  .card {
    outline: 2px solid rgba(255, 0, 0, 0.3);
    outline-offset: -2px;
  }
  
  .card > * {
    outline: 2px solid rgba(0, 128, 0, 0.3);
    outline-offset: 1px;
  }
  
  .card-meta > * {
    outline: 2px solid rgba(0, 0, 0, 0.5);
    outline-offset: -3px;
  }