html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  background-color: #f5f5f5;
  width: 560px;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
}

.grid {
  padding: 10px;
}

.sidebar {
  outline: 3px solid #cecece;
  background-color: #ffffff;
  padding: 10px;
  outline-offset: -3px;
}

.sidebar h2 {
  margin: 0 0 10px;
  font-size: 14px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar li p {
  margin: 10px 0;
}

.sidebar li:last-child p {
  margin: 0;
}

.site-heading {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 8px 8px 20px 8px;
  font-size: 20px;
  background-image: url("img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: left 0 bottom 4px;
  background-size: 100%;
}

.good {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid #cecece;
  color: white;
  background-color: black;
}

.good h2 {
  order: 1;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.good img {
  object-fit: cover;
  max-width: 100%;
  width: 140px;
  height: 75px;
}

.description {
  margin: 0;
  padding: 10px;
  outline: 3px solid #63d1bb;
  outline-offset: -3px;
  background-color: #ffffff;
}

.video {
  display: flex;
  background-color: #63d1bb;
}

.video button {
  font-size: 0;
  background-image: url("img/icon-play.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 100px;
  height: 70px;
  margin: auto;
  padding: 0;
  border: 0;
  border-radius: 0;
  background-size: 80px;
  background-position: center;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}
