body {
    width: 550px;
    margin: 0;
    padding: 0 10px;
  }
  
  .image-map {
    display: flex;
    flex-wrap: wrap;
    width: 290px;
    height: 290px;
    margin: auto;
    background-color: navy;
    border-radius:20px;
    padding:5px;
  }
  .pic-1, .pic-2, .pic-3, .pic-4{
    border-radius:50%;
    margin-left:5px;
    margin-top:5px;
  }
  .pic-1{
    border:5px solid blueviolet;
  }
  .pic-2{
    border:5px solid coral;
    margin-left:10px;
  }
  .pic-3{
    border:5px solid crimson;
  }
  .pic-4{
    border:5px solid deepskyblue;
    margin-left:10px;
  }
  