html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.world {
  display: flex;
  width: 100%;
  height: 100%;
  background: #e5e5e5 url("img/cartographer.png") repeat 0 0;
}

.world--exam {
  width: 540px;
  background: none;
}

.world--exam .land {
  margin: 0;
  box-shadow: none;
}

.world--exam .element {
  background-size: 120px 120px;
}

.world--exam .element--bridge {
  background-size: auto, auto, 120px 120px;
}

.land {
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;

  background-color: white;
  outline: 1px solid #b2b2b2;
  outline-offset: -1px;

  box-shadow: hsl(10, 0%, 40%) 1px 1px,
    hsl(10, 0%, 39%) 2px 2px,
    hsl(10, 0%, 38%) 3px 3px,
    hsl(10, 0%, 37%) 4px 4px,
    hsl(10, 0%, 36%) 5px 5px,
    hsl(10, 0%, 35%) 6px 6px,
    hsl(10, 0%, 34%) 7px 7px,
    hsl(10, 0%, 33%) 8px 8px,
    hsl(10, 0%, 32%) 9px 9px,
    hsl(10, 0%, 31%) 10px 10px,
    hsl(10, 0%, 30%) 11px 11px,
    hsl(10, 0%, 29%) 12px 12px,
    hsl(10, 0%, 28%) 13px 13px,
    hsl(10, 0%, 27%) 14px 14px,
    hsl(10, 0%, 26%) 15px 15px,
    hsl(10, 0%, 25%) 16px 16px,
    hsl(10, 0%, 24%) 17px 17px,
    hsl(10, 0%, 23%) 18px 18px,
    hsl(10, 0%, 22%) 19px 19px,
    hsl(10, 0%, 21%) 20px 20px,
    hsl(10, 0%, 20%) 20px 20px;
}

.land--rectangle {
  width: 600px;
  height: 400px;
}

.land--small {
  width: 300px;
  height: 300px;
}

.land--guided::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-image:
    repeating-linear-gradient(to bottom, transparent, transparent 124px, #b2b2b2 124px, #b2b2b2 125px),
    repeating-linear-gradient(to right, transparent, transparent 124px, #b2b2b2 124px, #b2b2b2 125px);
  background-position: 0 1px, 1px 0;
}

.land--rectangle.land--guided::before {
  background-image:
    repeating-linear-gradient(to bottom, transparent, transparent 39px, #b2b2b2 39px, #b2b2b2 40px),
    repeating-linear-gradient(to right, transparent, transparent 59px, #b2b2b2 59px, #b2b2b2 60px);
}

.land--pattern {
  background: rgba(0, 0, 0, 0) url("light-grey-terrazzo.png") repeat 0 0;
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  background-repeat: repeat;
  background-size: 125px 125px;
}

.element--water {
  background-image: url("img/water.svg");
}

.element--grass {
  background-image: url("img/grass.svg");
}

.element--rocks {
  background-image: url("img/rock.svg");
}

.element--lava {
  background-image: url("img/lava.svg");
}

.element--sand {
  background-image: url("img/sand.svg");
}

.element--simple {
  background-size: 100px 100px;
}

.element--simple,
.element--bridge {
  position: relative;
  counter-increment: item-counter;
  overflow: hidden;
}

.element--simple::after,
.element--bridge::after {
  content: counter(item-counter);
  width: 25px;
  height: 25px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  background-clip: padding-box;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  mix-blend-mode: screen;
}

.element--bridge-1,
.element--bridge-3 {
  background-image:
    linear-gradient(to bottom, burlywood 0, burlywood 5px, transparent 5px),
    linear-gradient(to top, burlywood 0, burlywood 5px, transparent 5px),
    repeating-linear-gradient(to right, #906312 0, #906312 10px, #b57c17 10px, #b57c17 20px);
}

.element--bridge-2,
.element--bridge-4 {
  background-image:
    linear-gradient(to left, burlywood 0, burlywood 5px, transparent 5px),
    linear-gradient(to right, burlywood 0, burlywood 5px, transparent 5px),
    repeating-linear-gradient(to bottom, #906312 0, #906312 10px, #b57c17 10px, #b57c17 20px);
}

[class*="land--task-"]::after {
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255, 133, 27, 0.3) 10px, rgba(255, 133, 27, 0.3) 20px);
}

.land--task-1::after {
  content: "";
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.land--task-2::after {
  content: "";
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}

.land--task-3::after {
  content: "";
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.land--task-4::after {
  content: "";
  position: absolute;
  top: 75%;
  left: 0;
  width: 100%;
  height: 25%;
}

.land--task-5::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 75%;
}
