@font-face {
    font-weight: 400;
    font-family: "PT Sans";
    font-style: normal;
    src: local("PT Sans"),
      url("ptsans.woff2") format("woff2"),
      url("ptsans.woff") format("woff");
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
  }
  