html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}
body {
  min-width: 550px;
  min-height: 250px;
  padding: 10px;
}
.cards {
  width: 500px;
}
.cards li::before {
  font-family: "Courier", monospace;
}
 .cards{
  margin-left: 19px;
  }

li:nth-of-type(n+5){
  margin-left: -15px;
}
li:nth-of-type(-n+3){
  margin-left: -15px;
}
li:nth-of-type(n+5){
  width: 36px;
  height: 54px;
}
li:nth-of-type(-n+3){
  width: 36px;
  height: 54px;
}
li:nth-of-type(4) {
  margin-right: 30px;
  margin-left: 15px;
}

.cards li.diamond:not(.nine):not(.king){
  background-color: #0099ff;
}
li:nth-child(3):not(.club) {
  background-color: #ff3300!important;
}
ul:nth-last-child(2) li:nth-child(3n+1)  {
  background-color: #339933!important;
}




