body {
    padding: 0px 30px;
    font-size: 14px;
    line-height: 22px;
    font-family: "Georgia", serif;
    color: #222222;
  }
  
  h1 {
    font-size: 22px;
    line-height: normal;
  }
  h2 {
    font-size: 18px;
    line-height: normal;
  }
  
  nav {
    color: #888888;
  }
  
  aside {
    margin: 20px 0;
    color: #c4c4c4;
  }
  
  article {
    background-color: #f9f7ff;
    border: 2px solid #9779ec;
    padding: 10px;
}
  section {
    background-color: #f3faff;
    border: 2px solid #7fc1ff;
    padding: 10px;
    margin-top: 20px;
}

pre {
  font-family: "Courier New", "Courier", monospace;
  color: #6a2cce;
}

blockquote{
    padding-left: 20px;
    border-left:2px solid #6a2cce;
    color: #6a2cce;
}