body {
    padding: 0px 30px;
    font-size: 14px;
    line-height: 22px;
    font-family: "Georgia", serif;
    color: #222222;
  }
  
  h1 {
    font-size: 22px;
    line-height: normal;
  }
  h2 {
    font-size: 18px;
    line-height: normal;
  }
  
  nav {
    color: #888888;
  }
  
  aside {
    margin: 20px 0;
    color: #c4c4c4;
  }
  
  article {
    background-color: #f9f7ff;
    border: 2px solid #9779ec;
    padding: 10px;
}
  section {
    background-color: #f3faff;
    border: 2px solid #7fc1ff;
    padding: 10px;
    margin-top: 20px;
}

pre {
  font-family: "Courier New", "Courier", monospace;
  color: #6a2cce;
}

blockquote{
    padding-left: 20px;
    border-left:2px solid #6a2cce;
    color: #6a2cce;
}



.danger-block {
  padding: 5px 10px;

  background-color: #ffd0bf;
}

.no-danger-block {
  padding: 5px 10px;

  background-color: #c6f5f0;
}
.danger-text {
  color: #ff4400;
}

.course-interface--light .browser-view {
  border-color: #d8d7e4;
}
.browser-view {
  position: relative;
  padding: 44px 32px 24px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}