/*===============
Add Global Text Parametrs
==================*/
:root {
  --colour-primary: #fb565a;
  --colour-primary-hover: #d7373b;
  --colour-primary-active: #;
  --colour-secondary: #;
  --colour-primary-light: #;
  --colour-primary-light-hover: #;
  --colour-primary-light-active: #;
  --colour-grey-darker: #;
  --colour-grey-dark: #;
  --colour-grey: #666666;
  --colour-dark-body-base: #283136; 
  --colour-black: #000000;
  --colour-white: #ffffff;
  --colour-green: #00ca74;
  --colour-green-hover: #00aa62; 
  --colour-yellow: #efc84a;
  --colour-yellow-hover: #e5a722;
  --colour-grey-light: #eeeeee;
  --colour-grey-light-hover: #d5d5d5;
  --colour-negative: #;
  --spacing-base: 0px;
  --font-family: "Roboto", Arial, sans-serif;
  --body-font-size:16px;
  --font-size-base: 0px;
  --line-height-base: 0px;
  --border-radius: 5px;
  --border-radius-button: 5px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--colour-dark-body-base);

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*=================
Main Navigation
==================*/
.main-navigation {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  color: var(--colour-black);
  text-transform: uppercase;

  background-color: var(--colour-grey-light);
}

.site-navigatin,
.user-navigation {
  list-style: none;
}

.site-navigatin a,
.user-navigation a {
  color: var(--colour-black);
}

.site-navigatin a:hover,
.site-navigatin a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--colour-primary);
}

/* Simple CSS Underline Menu */
/* https://codepad.co/snippet/simple-css-underline-menu */

/*=================
Hero Section
==================*/
.slider{
  background-color: var(--colour-grey-light);
}
.slider__content h2 {
  font-size: 55px;
  line-height: 55px;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: var(--colour-white);
  text-transform: uppercase;
}

.slider__button{
  background-color:var(--colour-primary);
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  margin: 0 4px;
  width: 10px;
  height: 10px;

  border: 5px solid var(--colour-white);
  border-radius: 50%;
  background-color: var(--colour-white);

  cursor: pointer;
  transition: background-color 0.35s;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: var(--colour-grey-light);
}

/*=================
Services Section
==================*/
.services-item {
  list-style: none;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.button-red {
  background-color: var(--colour-primary);
}
.button-red:hover,
.button-red:focus,
.button-red:active{
  background-color: var(--colour-primary-hover);
}

.button-green {
  background-color: var(--colour-green); 
}
.button-green:hover,
.button-green:focus,
.button-green:active{
  background-color: var(--colour-green-hover);
}

.button-yellow {
  background-color: var(--colour-yellow);
}
.button-yellow:hover,
.button-yellow:focus,
.button-yellow:active{
  background-color: var(--colour-yellow-hover);
}

/*Razobratsya*/
.services {
  border-bottom: 1px solid var(--colour-grey-light);
}

/*=================
About Us Section Section
==================*/

/*About Us Left*/
.about__slogan {
  margin: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about__text {
  margin: 0;
  margin-top: 35px;
}

.about__title {
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 800;
}

.about-left .about__title {
  margin-top: 23px;
}

.about-list {
  margin: 0;
  list-style: none;
}

.about-items {
  margin-top: 20px;
}

/*About Us Right*/
.about-right .about__title {
  margin-top: 38px;
}

.about__numbers {
  margin: 0;
  margin-top: 53px;

  list-style: none;
}

.about__numbers_items-1 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 800;
  margin: 0;
}

.about-right__text {
  margin: 0;
  margin-top: 28px;
}

/*=================
Partners Image Section
==================*/
.partners-list{
  list-style: none;
  margin: 46px 0;
  padding: 0;
}

/*=================
Contact Data Section
==================*/
.contact-data {
  background-color:var(--colour-white);
}

.contact-data h2 {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.contact-data p {
  margin: 0;
  margin-top: 34px;

  color: var(--colour-grey);
}

.contact-data .button {
  background-color:var(--colour-primary);
}

/*=================
Footer
==================*/
.footer-copyright b{
  font-size: 36px;
  line-height: 36px;
  font-weight: 800;
  color: var(--colour-black);
}

.footer-copyright p{
  margin: 0;
  margin-top: 12px;
}

.footer-social ul {
  list-style: none;
}

/*==================================
Base styling Catalog  
===================================*/
.inner-page {
  background-color: var(--colour-white);
}

.inner-page h1 {
  margin: 0;

  font-size: 55px;
  line-height: 55px;
  font-weight: 800;

  background-color: var(--colour-grey-light);
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
}

.filter li {
  font-size: 16px;
  line-height: 20px; 
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: var(--colour-black);
}

.filter-input:disabled + label {
  color: var(--colour-black);
  opacity: 0.5;
}

.filter button {
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  background-color:var(--colour-grey-light);
  border: none;
}

.filter button:hover {
  background-color:var(--colour-grey-light-hover);
}

.catalog h3 {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.catalog-filter ul {
  list-style: none;
}

.catalog-filter a {
  color: var(--colour-black);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  border: var(--colour-grey-light);
}

.overlay{
  background-color:var(--colour-grey-light);
}

.catalog-title {
  font-size: 18px;
  line-height: 30px;
  color: var(--colour-black);
  text-transform: uppercase;
}

.catalog-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--colour-grey);
}

.overlay .button__red {
  background-color: var(--colour-primary);
}

.overlay .button__red:hover {
  background-color: var(--colour-primary-hover);
}

.catalog__header-list {
  background-color: var(--colour-grey-light);
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--colour-black);

  background-color:var(--colour-grey-light);
  border: 2px solid var(--colour-grey-light);
  border-radius: 2px;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active
 {
  color: var(--colour-black);

  background-color:var(--colour-grey-light-hover);
  border: 2px solid var(--colour-grey-light-hover);
  border-radius: 2px;
}

.pagination-current a{
  border: 2px solid var(--colour-grey-light);
  background-color:var(--colour-white);
}

/*==================================
Base Flexbox Grig
===================================*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-bottom: 70px;
  min-height: 120px;
  background-color: var(--colour-grey-light);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  display: flex;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.site-navigatin {
  width: 760px;
  margin: 0;
  margin-left: 200px;
  padding: 0;
}

.user-navigation {
  width: 160px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}
/*=================
Services block
==================*/
.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 165px;
  padding: 0;
}

.services-item {
  width: 300px;
}

/*=================
About block
==================*/
.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.about-left {
  width: 700px;
}

.about-right {
  width: 360px;
}

/*=================
Partners block
==================*/
.partners {
  padding: 40px 30px;
  margin-bottom: 80px;
  border-top: 1px solid var(--colour-grey-light);
  border-bottom: 1px solid var(--colour-grey-light);
}

.partners-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

/*=================
Map
==================*/
.contact-data {
  width: 320px;
  padding: 50px;
}
/*=================
Footer
==================*/
.main-footer {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.footer-social {
  width: 260px;
  margin-right: 140px;
}

.footer-copyright {
  width: 560px;
  margin-right: auto;
}