/*===============
Add Global Text Parametrs
==================*/
:root {
  --colour-primary: #fb565a;
  --colour-primary-hover: #d7373b;
  --colour-primary-active: #;
  --colour-secondary: #;
  --colour-primary-light: #;
  --colour-primary-light-hover: #;
  --colour-primary-light-active: #;
  --colour-grey-darker: #;
  --colour-grey-dark: #;
  --colour-grey: #666666;
  --colour-dark-body-base: #283136;
  --colour-black: #000000;
  --colour-white: #ffffff;
  --colour-green: #00ca74;
  --colour-green-hover: #00aa62; 
  --colour-yellow: #efc84a;
  --colour-yellow-hover: #e5a722;
  --colour-grey-light: #eeeeee;
  --colour-off-white: #;
  --colour-negative: #;
  --spacing-base: 0px;
  --font-family: "Roboto", Arial, sans-serif;
  --body-font-size:16px;
  --font-size-base: 0px;
  --line-height-base: 0px;
  --border-radius: 5px;
  --border-radius-button: 5px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--colour-dark-body-base);

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*=================
Main Navigation
==================*/
.main-navigation {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  color: var(--colour-black);
  text-transform: uppercase;

  background-color: var(--colour-grey-light);
}

.site-navigatin,
.user-navigation {
  list-style: none;
}

.site-navigatin a,
.user-navigation a {
  color: var(--colour-black);
}

.site-navigatin a:hover,
.site-navigatin a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--colour-primary);
}

/* Simple CSS Underline Menu */
/* https://codepad.co/snippet/simple-css-underline-menu */

/*=================
Hero Section
==================*/
.slider{
  background-color: var(--colour-grey-light);
}
.slider__content h2 {
  font-size: 55px;
  line-height: 55px;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: var(--colour-white);
  text-transform: uppercase;
}

.slider__button{
  background-color:var(--colour-primary);
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  margin: 0 4px;
  width: 10px;
  height: 10px;

  border: 5px solid var(--colour-white);
  border-radius: 50%;
  background-color: var(--colour-white);

  cursor: pointer;
  transition: background-color 0.35s;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: var(--colour-grey-light);
}

/*=================
Services Section
==================*/
.services-item {
  list-style: none;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.button-red {
  background-color: var(--colour-primary);
}
.button-red:hover,
.button-red:focus,
.button-red:active{
  background-color: var(--colour-primary-hover);
}

.button-green {
  background-color: var(--colour-green); 
}
.button-green:hover,
.button-green:focus,
.button-green:active{
  background-color: var(--colour-green-hover);
}

.button-yellow {
  background-color: var(--colour-yellow);
}
.button-yellow:hover,
.button-yellow:focus,
.button-yellow:active{
  background-color: var(--colour-yellow-hover);
}

/*Razobratsya*/
.services {
  border-bottom: 1px solid var(--colour-grey-light);
}

/*=================
About Us Section Section
==================*/

/*About Us Left*/
.about__slogan {
  margin: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about__text {
  margin: 0;
  margin-top: 35px;
}

.about__title {
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 800;
}

.about-left .about__title {
  margin-top: 23px;
}

.about-list {
  margin: 0;
  list-style: none;
}

.about-items {
  margin-top: 20px;
}

/*About Us Right*/
.about-right .about__title {
  margin-top: 38px;
}

.about__numbers {
  margin: 0;
  margin-top: 53px;

  list-style: none;
}

.about__numbers_items-1 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 800;
  margin: 0;
}

.about-right__text {
  margin: 0;
  margin-top: 28px;
}

/*=================
Partners Image Section
==================*/
.partners-list{
  list-style: none;
  margin: 46px 0;
  padding: 0;
}

/*=================
Contact Data Section
==================*/
.contact-data {
  background-color:var(--colour-white);
}

.contact-data h2 {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.contact-data p {
  margin: 0;
  margin-top: 34px;

  color: var(--colour-grey);
}

.contact-data .button {
  background-color:var(--colour-primary);
}

/*=================
Footer
==================*/
.footer-copyright b{
  font-size: 36px;
  line-height: 36px;
  font-weight: 800;
  color: var(--colour-black);
}

.footer-copyright p{
  margin: 0;
  margin-top: 12px;
}

.footer-social ul {
  list-style: none;
}
