body {
    margin: 0;
  }
  
  .page-header{
    display:grid;
    grid-template-columns:2fr 160px;
    padding:30px 20px 70px;
  }
  .days-list{
    display:grid;
    grid-template-columns:1fr 1fr;
    padding:25px 20px 40px;
    column-gap:20px;
    row-gap:30px;
        margin: 0;
  }
  
  .page-footer{
    padding:10px 20px 20px 20px;
    }